<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @field %>
  <div class='row'>
    <div class='col-md-3'>
      <header>サブメニュー</header>
        <ul>
          <li>
            <%= link_to new_field_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-plus"></i> 新規投稿
            <% end %>
          </li>
          <li>
            <%= link_to new_group_path, class: 'nav-link text-dark' do %>
            <i class="fas fa-plus"></i> 新規グループ
            <% end %>
          </li>
        </ul>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>サバゲーフィールド</h2>
       <div class="btn-wrapper col-12 mx-auto">
         <div class="swiper">
          <div class="swiper-wrapper">
           <div class="swiper-slide text-center">
              <%= link_to "新しい順", fields_path(sort: 'created_at DESC') %>
                <%= render 'publics/fields/index', fields: @fields%>
            </div>
          </div>
        </div>
  　  </div>
    </div>
  </div>
</div>