<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>
        <%= @customer.name %>さんの詳細
      </h3>
      <table class="table table-hover table-inverse">
        <tr>
          <th>会員ID</th>
          <th><%= @customer.id %></th>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
         <th>メールアドレス</th>
         <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>status</th>
          <td><%= @customer.is_deleted %></td>
        </tr>
        <tr>
          <% if @user.is_deleted? %>
            <td><%= link_to "復活する", admin_customer_path(@customer), method: :patch, data: { confirm: "to_public?" }, class:"btn btn-success" %></td>
          <% else %>
            <td><%= link_to "削除する", admin_customer_path(@customer), method: :delete, data: { confirm: "delete?" }, class:"btn btn-danger" %></td>
          <% end %>
        </tr>
        <tr>
          <td><%= link_to "index", admin_customers_path, class:"btn btn-primary" %></td>
        </tr>
      </table>
    </diV>
  </div>
</div>
