<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>サバゲー</h3>
      <table class="table rable-hover table-inverse">
        <thead>
          <tr>
            <th>投稿</th>
            <th>レビュー</th>
            <th>評価</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @fields.each do |field| %>
            <tr>
              <td><%= field.id %></td>
              <td>
                <%= link_to admin_field_path (field.id) do %>
                  <%= field.name %>
                <% end %>
              </td>
              <td><%= field.body %></td>
              
              <td>
                <% if field.is_deleted? %>
                  <P>削除</P>
                <% else %>
                   <p class="text-success"><strong>有効</strong></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @fields %>
    </div>
    </div>
   <%= link_to "top", admin_root_path, class: "btn btn-primary" %>
  </div>